#game{
	position: relative;
	max-height: 190px;
	overflow: hidden;
	top:0;

	.question-index{
		position: absolute;
		left: 11px;
		top: -4px;
		color:$light-green;

		@include position(absolute, -4px auto auto 11px);

		@include respond-to(small){
			left: auto;
			right: 9px;
		}
	}

	.backwards{
		position: absolute;
		top: 50%;
		font-size: 40px;
		left: 20px;
		font-family: 'dosis-bold';
		color: $brand-primary;
		line-height: 23px;
		cursor: pointer;
		user-select: none;
		display: none;
		z-index: 10;

		@include respond-to(small){
			left: auto;
			right: 10px;
			top: 23px;
			font-size: 29px;
			line-height: 16px;

		}

		strong{
			transform: rotate(90deg);
			display: block;
			text-align: center;
			position: relative;
			left: 5px;

			@include respond-to(small){
				left: 3px;
			}
		}

		span{
			font-size: 10px;
			display: block;
		}

	}

	li{
		transition: all 0.2s ease-out; 

	}

	li > p{
		margin-top: 28px;
		margin-left: -31px;
		margin-bottom: 0px;

		

		@include respond-to(small){
			margin-top: 14px;
			margin-left: -25px;

		}
	}
	
	h3{
		font-size: 20px;
		color:$brand-primary;
		display: inline;
		font-weight: normal;
		font-family: 'dosis-medium';
		line-height: 16px;

		small{
			font-size: 16px;
			color:$brand-primary;
			display: inline;
			font-weight: normal;
			font-family: 'dosis-medium';
		}

		@include respond-to(small){
			font-size: 13px;
		}

		

	}


	
	label{
		display: block;
		text-align: left;
		font-weight: normal;
		font-size: 18px;
		font-family: 'dosis-medium';
		font-weight: normal;
		color:$text-color;
		cursor:pointer;
		margin-bottom: 10px;
		line-height:24px;


		&:last-child{
			margin-bottom:0px;
		}

		svg{
			@include respond-to(small){
			display: inline-block;
			vertical-align: middle;
		}

		path{
			display: none;

		}
		}

	

		@include respond-to(small){
			font-size: 12px;
			line-height: 14px;
		}

		.sv-check{
			@include respond-to(small){
				display: inline-block;
				vertical-align: middle;
				width: 236px;
				padding-left: 5px;
			}
		}





	}

	input[type="radio"]{
		opacity: 0;
		position: absolute;
	}

	input[type="radio"]:checked ~ svg path{
		display: block;
	}



	.game-questions{
		padding-bottom: 30px;
		position: relative;
		max-width: 700px;
		margin-top: 0px;
		text-align: left;
		top:0;

		transition: all 0.5s ease-out; 
		// padding:0px;
    // list-style-position: inside;

    @include respond-to(mediumlarge){
    	padding-bottom: 30px;
    }

    @include respond-to(small){
    	padding-bottom: 30px;
    	padding-left: 32px;
    	padding-right: 40px;
    }

    li{
    	color: $main-orange;
    	font-size: 51px;
    	font-family: 'dosis-bold';
    	line-height:40px;

    	@include respond-to(small){
    		font-size: 21px;
    		line-height: 18px;
    	}

    	
    }

}

@include respond-to(small){
	max-height: 225px;

}


}

.road-wrap.game-road{

	bottom:122px;

	#car{
		margin-left: -52px;
		left: 0%;
	}

	@include respond-to(mediumlarge){
		bottom:auto;
	}

}


#descuentakm{
	margin-top: 57px;
	background-image: url(../img/cuentakilometros.png);
	width:155px;
	height: 36px;
	background-repeat: no-repeat; 
	position: relative;

	span{
		position: absolute;
		left: 7px;
		top: 0;
		color: #fff;
		font-family: 'helveticaneue-medium';
		letter-spacing: 7px;
		font-size: 26px;
		font-weight: 400;
	}
}
