html{
    @include respond-to(medium){
        overflow: visible;
    }
}

body{
    @include respond-to(medium){
        background-color: white;
    }
}

h1{
    color:$brand-primary;
    line-height: 40px;

    strong{
        color: $main-orange;
    }

    @include respond-to(mediumlarge){
        font-size: 25px;
        line-height: 25px;
    }
}

h2{

    color:$brand-primary;
    line-height: 40px;
    font-size: 25px;

    



    strong{
        color: $main-orange;
    }

    @include respond-to(mediumlarge){
        font-size: 25px;
        line-height: 25px;
    }

    @include respond-to(small){
        font-size: 18px;
    }
}

a.btn:hover{
    color:white
}

.inline-block{
    display: inline-block;
    vertical-align: middle;
}

.inline-block-top{
    display: inline-block;
    vertical-align: top;
}

#lace-road-gift{
    width: 62%;
}


#toggle-inicio{
    display: none;
    opacity: 0;

    transition:0.5s all ease-out;

}

.inicio .navbar-brand{
    @include respond-to(medium){
        > img{
            &:last-child{
                display: none;
                opacity: 0;
                transition:0.5s all ease-out;

                &.sv-in{
                    display: inline-block;
                }
            }
        }
    }

}

#toggle-inicio.sv-in{
    display: inline-block;

    @media(min-width: 990px){
        display: none;
    }
}

.img-responsive-block{
    max-width: 100%;
    margin: auto;
    display: block;
}

#dosier-viewer{
    width: 100%;
    height: 100%;
    background: white;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;

    display: none;

    @include respond-to(small){
        display: block;


    }
      // @include respond-to(small){
      //       max-height: 300px;
      //   }

      iframe{
        width: 100%;
        height: 100%;

        // @include respond-to(small){
        //     max-height: 300px;
        // }



        div[role="toolbar"]{
            display: none;
        }


    }
    .closeview{
      position: absolute;
    right: 0;
    top: 0px;
    margin-left: -45px;
    font-size: 36px;
    width: 35px;
    height: 32px;
    padding: 5px;
    line-height: 14px;
    text-decoration: none;
    display: block;
    text-align: center;
    color: #fff;
    border-left: 1px solid white;
    /* background: #ed0000; */


 }
}


.main {

    main.dosier{
        padding-bottom: 20px;
        p{
            margin-top: 30px;
        }


    }

    main.ver-ranking{

        @include respond-to(mediumlarge){
            #title-rankings{
                width:112px;
            }
        }

        h2{
            margin-top: 6px;
            margin-bottom: 20px;
        }
    }



    font-family: $main-font-family;
    font-size: $main-font-size;

    
    .inner-wrap{
        display: inline-block;
        margin-top: 59.5px;
        @include position(relative);
        margin: auto;

        @include respond-to(medium){
            display: block;
        }
    }

    #logotop{
        // margin-top:6px;
    }

    #screen-wrap{
        @include position(absolute, 0px 0px 0px 0px);
        width: 100%;
        height: 100%;
        text-align: center;

        @include respond-to(medium){
            position: relative;
        }



        #screen{
            display: inline-block;
            background-color: white;
            width: 70%;
            height: 83%;
            position: relative;
            overflow: hidden;
            margin-top: 59px;
            
            @include respond-to(medium){
                @include center-block();
                overflow: visible;
                width: 100%;

            }

            header{
                padding-top: 2%;
                padding-bottom: 1%;
                


                #titulo1{
                    max-width: 50%;

                    @include respond-to(medium){
                        max-width: 100%;
                    }
                }


                #titulo2{
                    max-width: 42%;
                }
            }

            main{
                position: relative;
                .miniform{
                    @include center-block();
                    position: relative;

                    @include box(15px 20px);
                    width: 300px;
                    max-width: 100%;
                    background-color: $gray-lighter;
                    line-height: 20px;
                    margin-top: 6%;
                    // @include position(absolute, 50% 50% 50% 50%);

                    p{
                        margin-bottom: 20px;
                    }

                    button{
                        margin-top: 15px;
                    }

                    &:after{
                        content:'';
                        @include position(absolute, auto 0px -17px 0px);

                        content: "";
                        width: 100%;
                        height: 17px;
                        background-image: url(../img/box-shadow.png);
                        background-repeat: no-repeat;
                        background-size: cover;

                    }
                }



                .miniform#step2{
                    margin-top: 5%;
                    font-size: 14px;
                }
                

                ul.content-list{
                    @include center-block();
                    max-width: 600px;
                    padding: 10px; 
                    text-align: left;
                    margin-top: 20px;

                    @include respond-to(small){
                        padding-left: 26px;
                    }


                    li{
                        font-size: 16px;
                        margin-bottom: 10px;
                    }

                }

                
            }

            footer{
                position: absolute;
                bottom: 0px;
                padding-bottom: 40px;
                width: 100%;
                text-align: center;

                // @include respond-to(medium){
                //  @include position(relative, 0px 0px 0px 0px);
                //  padding-bottom: 0px;
                //  padding-top: 20px;

                // }

            }

            .sv-overlay{
                @include position(absolute, 0px 0px 0px 0px);

                @include respond-to(medium){
                    position: fixed;
                    background-color: white;
                    z-index: 90;
                }

            }
            
            #video-overlay{

                @include respond-to(medium){
                    top: 80px;
                }

                .close-video{
                    @include position(absolute, 11px 17px auto auto);
                    
                    cursor: pointer;
                    background: #005354;
                    empty-cells: 0;
                    z-index: 900;
                    color: white;
                    font-family: 'dosis-bold';
                    display: inline-block;
                    padding: 5px 10px;
                }

            }


            #my-video{


                @include position(absolute, 0px 0px 0px 0px);
                width: auto;
                // height: auto;
                z-index: 90;

                @media(min-width: 990px){
                    height: auto;
                }

            }


            &.sv-overflow{

                overflow-x: hidden;
                overflow-y: visible;

            }

        }
    }


    .road-wrap{
        background: url(../img/road-tile.jpg) repeat-x;
        position: relative;
        width: 100%;
        margin-top: 50px;
        height: 13px;

        @include position(absolute, auto auto 70px auto);


        @include respond-to(medium){
            @include position(relative, auto auto auto auto);

        }



        #car{
            position: absolute;

            @include position(absolute, auto auto -3px -34px);

            font-size: 52px;
            color: $brand-primary;
            line-height: 45px;

            @include respond-to(small){
                left: 0px;
            }
            

        }

        .road-inner{
            max-width: 658px;
            margin: auto;
            display: block;
            position: relative;
            height: 100%;
        }



        ul{
            text-align: left;
            position: absolute;
            bottom: -30px;

            li{
                padding:0px;
                position: relative;

                @include respond-to(small){
                    max-width: 32%;
                }
                
                img{
                    max-width: 100%;
                }

                p{
                    margin-bottom: 20px;
                    color: $brand-primary;
                    
                    @include respond-to(small){
                        font-size: 9px;
                        margin-bottom:40px;

                    }


                }

                .icon{
                    position: absolute;
                    right: -25px;
                    top: -25px;
                    font-size: 40px;
                    color: $main-orange;

                    &.last{
                        right: -16px;
                    }



                }

                &.next{
                    .icon{

                        font-size: 63px;
                        @include position(absolute, -86px -36px auto auto);
                    }



                }

                &.next2{
                    .icon{
                        font-size: 56px;
                        color:$brand-primary;
                        @include position(absolute, -78px -34px auto auto);

                        
                    }



                }

                &.next3{
                    .icon{
                        // font-size: 56px;
                        color:$light-green;
                        @include position(absolute, -64px -15px auto auto);

                        
                    }

                }

                .milestone{
                    @include position(absolute, auto auto -29px -20px);

                    @include respond-to(small){
                        font-size: 15px;
                        @include position(absolute, auto auto -20px -20px);

                    }

                    color: $main-orange;
                    font-size: 22px;
                    line-height: 20px;

                    &.zero{
                        color: $light-green;
                        @include position(absolute, auto auto -29px 0px);

                        @include respond-to(small){
                            @include position(absolute, auto auto -20px 6px);
                        }


                    }

                    &.last{
                        @include position(absolute, auto -40px -29px auto);

                        @include respond-to(small){
                            @include position(absolute,  auto -10px -20px auto);
                        }

                    }

                    small{
                        @include position(relative, -4px auto auto -4px);

                        @include respond-to(small){
                            @include position(relative, -2px auto auto -2px);

                            font-size: 8px;
                        }

                        display: inline-block;
                        font-size: 10px;
                        transform: rotate(-90deg);

                    }

                }



            }
        }
    }

    .price-list{

        li{

            strong{
                font-size: 14px;
            }

            kbd{
                @include respond-to(mediumlarge){
                    font-size: 8px;
                    padding: 2px 1px;
                }
            }


        }

        @include respond-to(small){
            margin-top: 30px;
        }

    }

    .ranking-list{

        max-width: 700px;

        @include respond-to(small){
            max-width: 184px;

        }


        ul{
            margin-top: 18px;

            @include respond-to(medium){
                margin-bottom: 30px;

            }

        }

        li{
            text-align: left;
            margin-bottom:15px;
            font-size: 17px;

            @include respond-to(mediumlarge){
                margin-bottom:10px;

            }



            .inline-block{
                line-height: 15px;
                font-size: 15px;
                padding-left: 3px;
            }
        }

    }

    .faq-container{
        text-align: left;
        max-width: 700px;
        padding: 0px 10px;
    }


    .faq-list{



        .panel{
            border-color:white;
            box-shadow:none;
        }

        .panel-heading{
            background-color: white;
            border-color:white;
        }

        .panel-body{
            border-color:white!important;
            padding: 0px;
        }
        

        margin-top: 30px;

        @include respond-to(small){
            margin-top: 20px;
        }

        a{
            color: $main-orange;
            font-family: 'dosis-medium';
            font-size: 20px;
            text-decoration: none;

            >img{
                display: inline-block;
                margin-right: 5px;
            }

            @include respond-to(small){
                font-size: 15px;
            }
        }

        .accordion{
            margin-bottom: 24px;
        }
        
        .accordion-inner{
            padding-left: 36px;


            .accordion-heading{
                margin-top:10px;
            }

            a{
                color:$brand-primary;
                font-size: 15px;

                >img{
                    width: 23px;
                }
            }

            .panel-body{
                padding: 10px 0px;

                @include respond-to(small){
                    font-size: 12px;
                }
            }
        }

        .accordion-toggle{
            svg{
                margin-left: 3px;
                transform:rotate(90deg);
                transition:0.3s all ease-out;
            }

            &.collapsed{
                svg{

                    transform:rotate(0deg);
                }
            }
        }



        
    }

}