.btn-orange1{
	background-color: $main-orange;
	color:white;
	font-family: $main-bold-font-family;
}

.btn-green1{
	background-color: $brand-primary;
	color:white;
	font-family: $main-bold-font-family;
}


.btn-green2{
	background-color: $light-green;
	color:$brand-primary;
	font-family: $main-bold-font-family;

}

.btn{
	-moz-box-shadow: 0px 3px 6px #c2c0c0;
-webkit-box-shadow: 0px 3px 6px #c2c0c0;
box-shadow: 0px 3px 6px #c2c0c0;
filter: progid:DXImageTransform.Microsoft.Shadow(strength = 3, direction = 180, color = '#c2c0c0');
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength = 3, Direction = 180, Color = '#c2c0c0')";
/*Shadows look very different in IE (Only cardinal directions supported)*/
/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
/*Element should have a background-color*/
/*All filters must be placed together*/
/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/

}


.inicio .btn{
	@include respond-to(small){
	margin-top: 20px;
	}
}


.btn:hover{
	color:white;
}