.btn-icon{
	cursor:pointer;
	line-height: 1em;


	&:before{
		content: '\e811'; 
  transition:0.3s all ease-in-out;
		
	}

	&.active,
	&:active,
	&:hover
	{
		&:before{
			color: $darwin-lightblue;
		}
	}
}