	@include keyframes(enter-the-car) {
		0%   { transform: translate(-100%); opacity: 0.5 }
		100% { transform: translate(0px); opacity: 1 }
	}

	@include keyframes(exit-the-car) {
		0%   { transform: translate(0px); opacity: 1 }
		100% { transform: translate(100%); opacity: 0 }
	}

	.sv-modal{
		position: absolute;
		z-index: 1000;
		background: rgba(0,0,0,0.4);


		@include position(absolute, 0px 0px 0px 0px);

		.content{
			width: 65%;
			background-color: white;
			text-align: center;
			padding: 20px;
			margin-top:  13.8888%;
		}


		.close{
			font-size: 35px;
			line-height: 15px;
		}

		h3{
			color:$brand-primary;
			font-family: 'dosis-medium';
			line-height: 30px;
			font-size: 23px;


			strong{
				font-weight: normal;
				font-family: 'dosis-bold';
			}

			@include respond-to(small){
				font-size: 17px;
				line-height: 22px;
			}
		}

		h4{
			font-size: 27px;
			color:$brand-primary;
			font-family: 'dosis-bold';
			margin-bottom: 10px;
			margin-top: 0px;
			line-height: 16px;

			@include respond-to(small){
				margin-top: 15px;
				font-size: 20px;
			}
		}

		.icon-car{
			display: inline-block;
			vertical-align: bottom;
			line-height: 90px;
			color:$brand-primary;
			font-size: 95px;
			line-height: 80px;

			@include respond-to(small){
				line-height: 60px;
			}
		}


		.modal-countdown{
			font-size: 81px;
			font-family: 'dosis-bold';
			line-height: 81px;
		}




		@include respond-to(medium){
			position: fixed;

			.content{
				margin-top: 5%;
				width: 90%;
			}


		}



	}

	#modal-gamestart{



		.icon-car{

			@include animation('enter-the-car .5s 1');
			
			&.sv-out{
				transform: translate(100%); opacity: 0;
				@include animation('exit-the-car .5s 1');

			}

		}



		#countdown-step2{
			p{
				margin: 0px;
			}
		}



		.modal-countdown{
			font-size: 81px;
			font-family: 'dosis-bold';
			line-height: 81px;

			#cd{
				span{
					opacity: 0;

					transition:all 0.2s ease-out;
				}

			}
		}






	}

	#modal-gameend{

		display: none;

		.content{
			padding-top: 10px;
		}

		.icon-ping{
			font-size: 50px;
			color:$main-orange;

		}

		.icon-car{
			font-size: 50px;
			color:$brand-primary;
			line-height: 12px;

		}

		.gray-text{
			font-size: 37px;
			line-height: 30px;
			vertical-align: top;
			margin-left: 20px;

			p{
				margin: 0px;
			}

			small{
				font-size: 20px;
			}

		}

		.tryagain{
			font-size: 20px;
			margin-top: 18px;
		}

		.seeanswers{
			font-size: 12px;
			line-height: 19px;
			margin-right: 20px;
		}

		.buttons{
			padding-top: 20px;
		}


		@include respond-to(medium){
			.buttons{

				a{
					margin: 10px auto;
				}

			}


		}
	}