@font-face {
  font-family: 'dosis-medium';
  src: url('../fonts/dosismedium/dosis-medium.eot');
  src: url('../fonts/dosismedium/dosis-medium.woff2') format('woff2'),
       url('../fonts/dosismedium/dosis-medium.woff') format('woff'),
       url('../fonts/dosismedium/dosis-medium.ttf') format('truetype'),
       url('../fonts/dosismedium/dosis-medium.svg#dosis-medium') format('svg'),
       url('../fonts/dosismedium/dosis-medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'dosis-bold';
  src: url('../fonts/dosisbold/dosis-bold.eot');
  src: url('../fonts/dosisbold/dosis-bold.woff2') format('woff2'),
       url('../fonts/dosisbold/dosis-bold.woff') format('woff'),
       url('../fonts/dosisbold/dosis-bold.ttf') format('truetype'),
       url('../fonts/dosisbold/dosis-bold.svg#dosis-bold') format('svg'),
       url('../fonts/dosisbold/dosis-bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'helveticaneue-medium';
  src: url('../fonts/helveticaneue/helveticaneueltstd-md-webfont.eot');
  src: url('../fonts/helveticaneue/helveticaneueltstd-md-webfont.woff') format('woff'),
       url('../fonts/helveticaneue/helveticaneueltstd-md-webfont.ttf') format('truetype'),
       url('../fonts/helveticaneue/helveticaneueltstd-md-webfont.svg#helveticaneueltstd-md-webfont') format('svg'),
       url('../fonts/helveticaneue/helveticaneueltstd-md-webfont.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}





@font-face {
  font-family: 'helveticaneue-bold';
  src: url('../fonts/helveticaneue/helveticaneueltstd-bd-webfont.eot');
  src: url('../fonts/helveticaneue/helveticaneueltstd-bd-webfont.woff2') format('woff2'),
       url('../fonts/helveticaneue/helveticaneueltstd-bd-webfont.woff') format('woff'),
       url('../fonts/helveticaneue/helveticaneueltstd-bd-webfont.ttf') format('truetype'),
       url('../fonts/helveticaneue/helveticaneueltstd-bd-webfont.svg#helveticaneueltstd-bd-webfont') format('svg'),
       url('../fonts/helveticaneue/helveticaneueltstd-bd-webfont.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helveticaneue-light';
  src: url('../fonts/helveticaneue/helveticaneueltstd-lt-webfont.eot');
  src: url('../fonts/helveticaneue/helveticaneueltstd-lt-webfont.woff') format('woff'),
       url('../fonts/helveticaneue/helveticaneueltstd-lt-webfont.ttf') format('truetype'),
       url('../fonts/helveticaneue/helveticaneueltstd-lt-webfont.svg#helveticaneueltstd-lt-webfont') format('svg'),
       url('../fonts/helveticaneue/helveticaneueltstd-lt-webfont.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}






