@font-face {
  font-family: 'darwin-icons';
  src: url('../fonts/darwinex/darwin-icons.eot');
  src: url('../fonts/darwinex/darwin-icons.woff') format('woff'),
       url('../fonts/darwinex/darwin-icons.ttf') format('truetype'),
       url('../fonts/darwinex/darwin-icons.svg#darwin-icons') format('svg'),
       url('../fonts/darwinex/darwin-icons.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}






