$base : #005354;
$darken : darken(#F7F6F0 , 30%);
$back: darken(#F7F6F0, 40%);

$text-color: 			 #333 !default;

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             #9d9c9c !default; // #777
$gray-lighter:           #ececec;

$brand-primary:         #005354 !default;
$light-green:           #a7c7bb !default;
$brown: 				#c77c4b !default;

$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

$main-orange: #f18825;
$light-orange: #fbb900;

$main-font-family: 'dosis-medium', Arial;
$main-bold-font-family: 'dosis-bold', Arial;
$main-font-size: 16px;