
.icon-all-darwins-icon:before { content: '\e800'; } /* '' */
.icon-card-icon:before { content: '\e801'; } /* '' */
.icon-darwinia-icon:before { content: '\e802'; } /* '' */
.icon-explorar-icon:before { content: '\e803'; } /* '' */
.icon-folder-icon:before { content: '\e804'; } /* '' */
.icon-hall-offame-icon:before { content: '\e805'; } /* '' */
.icon-list-icon:before { content: '\e806'; } /* '' */
.icon-logo-darwinex:before { content: '\e807'; } /* '' */
.icon-owl-icon:before { content: '\e808'; } /* '' */
.icon-performance-icon:before { content: '\e809'; } /* '' */
.icon-rebates-icon:before { content: '\e80a'; } /* '' */
.icon-widgets-icon:before { content: '\e80b'; } /* '' */
.icon-icon-dots:before { content: '\e80c'; } /* '' */
.icon-polygon1:before { content: '\e80d'; } /* '' */
.icon-icon-dollarball:before { content: '\e80e'; } /* '' */
.icon-carousel-mode:before { content: '\e810'; } /* '' */
.icon-folder-icon-1:before { content: '\e811'; } /* '' */